header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-side {
  flex: 1;
}

.left-side h1 {
  margin: 0;
  font-size: 24px;
}

.right-side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto; 
}

.right-side li {
  margin-left: 40px;
  cursor: pointer;
}

.right-side select {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

.right-side .schedule-call {
  background-color: #fe6d3f;
  color: white;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.right-side .vertical-line-header {
  position: relative;
  width: 1px;
  height: 30px;
  background-color: #000;
  margin-left: 40px;
  margin-right: 10px;
}















.inner-box {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap:100px;
}









.outer-box {
  width: 100%; 
  max-width: 1300px;
  height: 1000px;
  border: 0px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  width: 100%;
  height: 1000px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
 
 
  background-size: cover;
  background-position: center;
} 

.column {
  border: 1px solid #ababab
  
}


body{
 color: rgba(250,250,250,255);
}





















@media (max-width: 768px) {
  .outer-box {
    width: 90%;
    height: auto;
    max-width: none;
  }
  
  .inner-box {
    grid-template-columns: repeat(2, 1fr);
  }
}







.left-side h1 {
  font-size: 20px;
}

.right-side li {
  margin-left: 20px;
}

.right-side .schedule-call {
  padding: 8px 12px;
  font-size: 12px;
}

.inner-box h1 {
  font-size: 40px;
}

.inner-box p {
  font-size: 20px;
}




/* main */
.nav-links {
  list-style-type: none;
  display: flex;
}







.nav-links li {
  font-family:  Verdana,Geneva,Tahoma,sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 16px;
 
  color:  #979797;
  margin: 90px; 
}



.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 0 calc(25% - 20px);
  margin: 0px;
  padding: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.rounded-image {
  border-radius: 10px;
}



.explore-more {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 20px;
  position: relative;
  bottom: 130px;
 
  color:  #979797;
}

.explore-more a {
  text-decoration: none;
}

.explore-more {
  position: relative;
  font-size: 1rem;
  top: 10px; 
}




.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.mabu {
  position: absolute;
  top: 10%; 
   bottom: 30px;
  bottom: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(212, 7, 7); 
  text-align: center;
}

